<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
<div class="col-xs-12 col-md-10 col-md-offset-1">
  <div class="row">
    <h3 class="text-center"><b>{{ title }}</b></h3>
  </div>
  {%- with messages = get_flashed_messages() %}
  {%- if messages %}
  <div class="row">
    <div class="alert alert-danger flashes text-center">
      {%- for message in messages %}
      <b>{{ message }}</b>
      {%- endfor %}
    </div>
  </div>
  {%- endif %}
  {%- endwith %}  
  <form action="" method="POST" name="login">
    {{ form.hidden_tag() }}
    {{ render_field_with_errors(form.username) }}
    {{ render_field_with_errors(form.password) }}
    {{ render_field_with_errors(form.remember) }}
    {{ render_field(form.next) }}
    {{ render_field(form.submit) }}
  </form>
</div>

{% endblock %}

{% macro render_field_with_errors(field) %}
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-2 text-center">
      {{ field.label }}
    </div>
    <div class="col-xs-12 col-sm-4 text-center">
      {{ field(**kwargs)|safe }}
    </div>
  </div>
  {%- if field.errors %}
  <div class="row">
    <div class="alert alert-danger text-center" role="alert">
      {%- for error in field.errors %}
        {#<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>#}
        <b>{{ error }}</b>
      {%- endfor %}
    </div>
  </div>
  {%- endif %}
{% endmacro %}

{% macro render_field(field) %}
  <div class="row text-center">
    {{ field(class_="btn btn-primary",**kwargs)|safe }}
  </div>
{% endmacro %}

{#{%- with messages = get_flashed_messages(with_categories=true) -%}
  {% if messages %}
    <ul class="flashes">
    {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{%- endwith %}
#}
