html,body {
  height:100%;
}

.sidebar {
  min-width : 50px
} 

.content {
  padding: 0px;
  min-height: -webkit-calc(100% - 100px);
  min-height: -moz-calc(100% - 100px); 
  min-height: calc(100% - 100px); 
}

.footer {
  position: relative;
  clear:both;
}

.output {
    display: inline;
    color: inherit;
    font-size: inherit;
    line-height: inherit;
}

.row-schedule {
    margin-bottom : 5px;
}

.row-schedule > .text-center {
    padding-left: 4px;
    padding-right: 4px;
}

.row-schedule > div > input {
    color: #FFF;
}

.btn-day {
    min-width: 130px;
    min-height: 55px;
    margin: 5px;
}

.btn-day.focus.active,
.btn-day.active {
    background-color: #C9302C;
    border-color: #AC2925;
}

.heater {
    display: block;
    width: 100%;
    padding: 6px, 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857;
    text-align: center;
    vertical-align: middle;
    color: #FFF,
    border: 1px solid transparent;
    max-width: 100%;
    margin-bottom: 5px;
    overflow: visible;
}

.heater-schedule {
    background-color: #337AB7;
    border-color: #2E6DA4;
}

.heater-status {
    background-color: #449D44;
    border-color: #398439;
}

.heater.active {
    background-color: #C9302C;
    border-color: #AC2925;
}

.nav > li > a {
  padding: 10px 15px;
}

h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.btn {
  padding: 10px 14px;
  font-size: 16px;
}

.input-group {
  height: 3em; 
  font-size: 16px;
}

.input-group-btn > .btn {
  height: 3em;
}

.form-control {
  height: inherit;
}

.row.vdivide [class*='col-']:not(:last-child):after {
    background: #e0e0e0;
    width: 1px;
    content: "";
    display:block;
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    min-height: 70px;
}

.modal-dialog {
    width: auto !important;
}


input[type=range] {
  -webkit-appearance: none;
  margin: 0 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: #337AB7;
  border-radius: 1.3px;
}
input[type=range]::-webkit-slider-thumb {
  height: 36px;
  width: 36px;
  border-radius: 4px;
  background: #286090;
  border-color: #204D74; 
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: #337AB7;
  border-radius: 1.3px;
}
input[type=range]::-moz-range-thumb {
  height: 36px;
  width: 36px;
  border-radius: 4px;
  background: #286090;
  border-color: #204D74;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #337AB7;
  border-radius: 1.3px;
}
input[type=range]::-ms-fill-upper {
  background: #337AB7;
  border-radius: 1.3px;
}
input[type=range]::-ms-thumb {
  height: 36px;
  width: 36px;
  border-radius: 4px;
  background: #286090;
  border-color: #204D74;
  cursor: pointer;
}
/*input[type=range]:focus::-ms-fill-lower {
  background: #337AB7;
}
input[type=range]:focus::-ms-fill-upper {
  background: #337AB7;
}*/
