.output {
    display: inline;
    color: inherit;
    font-size: inherit;
    line-height: inherit;
}

.btn-day {
    min-width: 130px;
    min-height: 55px;
    margin: 5px;
}

.btn-day.active {
    background-color: #C9302C;
    border-color: #AC2925;
}

.heater-schedule {
    background-color: #398439;
    border-color: #398439;
}

.heater-schedule:hover, .heater-schedule:focus,
.heater-status:hover,   .heater-status:focus 
.solar-status:hover,    .solar-status:focus{
    /*background-color: transparent;*/
    border-color: #428BCA;
}

.heater-status {
    background-color: #337AB7;
    border-color: #2E6DA4;
}

.heater-status.active {
    background-color: #C9302C;
    border-color: #AC2925;
}

.heater-status.active:hover, .heater-status.active:focus {
    background-color: #C9302C;
    border-color: #AC2925;
}

.solar-status.active, .solar-status.active:hover, .solar-status.active:focus {
    background-color: #EC971F;
    border-color: #D58512;
}

/*.content {
    padding-left: 2px;
    padding-right: 2px;
}*/

.row.vdivide [class*='col-']:not(:last-child):after {
    background: #e0e0e0;
    width: 1px;
    content: "";
    display:block;
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    min-height: 70px;
}

.modal-dialog {
    width: auto !important;
}
