{% extends "base.html" %}

{% block content %}
  <div class="hidden-xs hidden-sm">
    <br>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <a class="btn btn-block btn-link" href='change-schedule_override_temp' data-toggle="modal" data-target="#set-temp">
        <p>{% trans %}Room temperature{% endtrans %}:</p>
        <h1 style="font-size: 62px"><b><span id="inside_temperature">{{ data['inside_temperature'] }}</span>&deg;C</b></h1>
        <p>{% trans %}Apparent temperature{% endtrans %}:</p>
        <h2><span id="apparent_temperature">{{ data['apparent_temperature'] }}</span>&deg;C</h2>
      </a>
      <div class="modal fade" id="set-temp" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog"><div class="modal-content"></div></div>
      </div> <!-- .modal -->
      <span class="hidden-xs"><br></span>
      <div class="text-center">
<!--       <button type="button" class="btn btn-block btn-link"> -->
        <p>{% trans %}Outside temperature{% endtrans %}:</p>
        <h2><span id="outside_temperature">{{ data['outside_temperature'] }}</span>&deg;C</h2>
<!--       </button> -->
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="text-center" style="margin: 8px !important;">
<!--       <button type="button" class="btn btn-block btn-link"> -->
        <p>{% trans %}Humidity{% endtrans %}:</p><h2><span id="humidity">{{ data['humidity'] }}</span>%</h2>
<!--       </button> -->
      </div>
      <div class="text-center">
        <button type="button" class="btn btn-block btn-warning heater-status">
          {% trans %}Heater status{% endtrans %}:<br>
          <span id="heater_status">{{ data['heater_status'] }}</span>
        </button>
        <button type="button" class="btn btn-block btn-danger heater-mode">
          {% trans %}Heater mode{% endtrans %}:<br>
          <span  id="work_mode">{{ data['work_mode'] }}</span>
        </button>
        <span class="hidden-xs"><br></span>
      </div>
      <!--<div class="row">
        <div class="col-sm-12 col-md-6">
          <a class="btn btn-block btn-link disabled" id="set-time">
            <h4><b><span id="time">24:00</span></b></h4>
          </a>
        </div>
        <div class="col-sm-12 col-md-6">
          <a class="btn btn-block btn-link disabled" id="set-date">
            <h4><span id="date">23/08/2014</span></h4>
          </a>
        </div>
      </div> -->
      <div class="text-center">
          <h4><span id="time">24:00</span><br>
        <br><span id="date">23/08/2015</span></h4>
      </div>
    </div>
  </div>
{#
{% from 'modal.html' import modal2 %}
{{ modal2("set-room-temp", 
         "Temperatura odczuwalna",
         "Wprowadź temperaturę",
         "Temperatura odczuwalna:") }}#}

<script type="text/javascript">
window.onload = function(){update()},
                setInterval(function(){update()
                  }, 500);

function update() {
  var myDate = new Date(),
  time = myDate.getHours() + ':' + 
        ('0' + myDate.getMinutes()).slice(-2);
  date = myDate.getDate() + '/' + 
        ('0' + (myDate.getMonth() + 1)).slice(-2) + '/' + 
        myDate.getFullYear();
  $('#time').text(time);
  $('#date').text(date);
};

(setTimeout( function () {
  $.ajax({
        url: '/dashboard/get_data',
        dataType: "json",
        method: "POST",
        success: function(result){
            $('#humidity').text(result.humidity)
            $("#outside_temperature").text(result.outside_temperature)
            $("#apparent_temperature").text(result.apparent_temperature)
            $("#inside_temperature").text(result.inside_temperature)
            $("#work_mode").text(result.work_mode)
            $("#heater_status").text(result.heater_status)
            {#$("#solar_status").text(result.solar_status)#}
        }})
},{{refresh_rate|default(1.5)}}*60000)());


</script>
{% endblock %}
