{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
  <span class="visible-lg visible-md">
  <br>
  </span>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <a class="btn btn-block btn-link" href='change-schedule_override_temp' data-toggle="modal" data-target="#set-temp">
        <p>{% trans %}Room temperature{% endtrans %}:</p>
        <h1 style="font-size: 62px"><b><span id="roomVal">{{ data['room_temp'] }}</span>&deg;C</b></h1>
        <p>{% trans %}Apparent temperature{% endtrans %}:</p>
        <h2><span id="feelVal">{{ data['feel_temp'] }}</span>&deg;C</h2>
      </a>
      <div class="modal fade" id="set-temp" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog"><div class="modal-content"></div></div>
      </div> <!-- .modal -->
      <span class="hidden-xs"><br></span>
      <button type="button" class="btn btn-block btn-link">
        <p>{% trans %}Outside temperature{% endtrans %}:</p>
        <h2 id="temp_out">{{ data['out_temp'] }}&deg;C</h2>
      </button>
    </div>
    <div class="col-xs-12 col-sm-6">
      <button type="button" class="btn btn-block btn-link">
        <p>{% trans %}Humidity{% endtrans %}:</p><h2><span id="humidity_value">{{ data['humidity'] }}</span>%</h2>
      </button>
      <button type="button" class="btn btn-block btn-warning">
        {% trans %}Heater status{% endtrans %}:<br>
        {% if data['heater_status'] == 'on' %}
          {% trans %}ON{% endtrans %}
        {% else %}
          {% trans %}OFF{% endtrans %}
        {% endif %}
      </button>
      <button type="button" class="btn btn-block btn-info btn-day">
        {% trans %}Heater mode{% endtrans %}:<br>
        {% if data['work_mode'] == 'normal' %}
          {% trans %}Normal{% endtrans %}
        {% else %}
          {% trans %}Free day{% endtrans %}
        {% endif %}
      </button>
      <span class="hidden-xs"><br></span>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <button type="button" class="btn btn-block btn-link" id="set-time">
            <h4><b><span id="time">24:00</span></b></h4>
          </button>
        </div>
        <div class="col-xs-12 col-xs-offset-0 col-sm-6 col-sm-offset-0">
          <button type="button" class="btn btn-block btn-link" id="set-date">
            <h4><span id="date">23/08/2014</span></h4>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
{#
{% from 'modal.html' import modal2 %}
{{ modal2("set-room-temp", 
         "Temperatura odczuwalna",
         "Wprowadź temperaturę",
         "Temperatura odczuwalna:") }}#}

<script type="text/javascript">
window.onload = function(){update()},
                setInterval(function(){update()
                  }, 500);

function update() {
  var myDate = new Date(),
  time = myDate.getHours() + ':' + 
        ('0' + myDate.getMinutes()).slice(-2);
  date = myDate.getDate() + '/' + 
        ('0' + (myDate.getMonth() + 1)).slice(-2) + '/' + 
        myDate.getFullYear();
  $('#time').text(time);
  $('#date').text(date);
};

</script>
{% endblock %}