{% macro row(len) %}
<tr>
{%- for i in range(len) %}
  <td class="text-center">
    <button class="btn btn-link btn-block" id="value_{{ loop.index }}">00</button>
  </td>
{%- endfor %}
  <td class="text-right">
    <button class="btn btn-danger" id="remove_row_{{ loop.index }}" onclick="deleteRow()">
      <span class="glyphicon glyphicon-minus"></span>
    </button>
  </td>
</tr>
{% endmacro %}

{% extends "base.html" %}
{% block content %}

{# TODO unify id's #}
<br>
<div class="navbar-header">
  <button type="button" class="navbar-toggle btn btn-link btn-block"
          data-toggle="collapse" data-target="#heater-navbar-collapse">
    <span class="glyphicon glyphicon-calendar"></span>
    {% trans %}Menu{% endtrans %}
  </button>
</div>
<div class="collapse navbar-collapse" id="heater-navbar-collapse">
  <ul class="nav nav-pills nav-justified" role="tablist">
    {%- for tab in tabs -%}
    <li {%- if loop.index == init_tab %} class="active"{% endif %}>
      <a href="#{{ tab['id'] }}" role="tab" data-toggle="tab">{{ tab['title'] }}</a>
    </li>
    {%- endfor -%}
  </ul>
</div>

<div class="tab-content">
{%- for tab in tabs %}
  {%- if loop.index == init_tab %}
  <div class="tab-pane fade in active" id="{{ tab['id'] }}">
  {%- else %}
  <div class="tab-pane fade" id="{{ tab['id'] }}">
  {%- endif %}
    <div class="container-fluid">
    {%- if tab['table'] is defined %}
      <div class="row clearfix">
        <div class="col-md-10 col-md-offset-1 text-center">
          <h4>{{ tab['table']['title']  }}</h4>
          <table class="table" id="{{ tab['id'] }}-table">
          <tbody>
            <tr>
              {%- for col in tab['table']['col_names'] %}
              <th class="text-center"><h5><b>{{ col }}</b></h5></th>
              {%- endfor %}
              <th class="text-right"></th>
            </tr>
          {% for row in tab['table']['data'] %}
            <tr>
              {%- for i in range(tab['table']['col_names']|length) %}
              <td class="text-center">
                <button class="btn btn-link btn-block">{{ row[i] }}</button>
              </td>
              {%- endfor %}
              <td class="text-right">
                <button class="btn btn-danger delete-row">
                  <span class="glyphicon glyphicon-minus"></span>
                </button>
              </td>
            </tr>
          {%- endfor %}
          </tbody>
          <tfoot><tr>
            {%- for i in range(tab['table']['col_names']|length-1) %}
            <td class="text-center"><h5>{{ tab['table']['footer'][i] }}</h5></td>
            {%- endfor %}
            <td class="text-center">
              <button class="btn btn-link btn-block" id="change_default">
                {{ tab['table']['footer'][-1] }}
              </button>
            </td>
            <td class="text-right">
              <button class="btn btn-success" onclick="addRow('#{{ tab['id'] }}-table')">
                <span class="glyphicon glyphicon-plus"></span>
              </button>
            </td>
          </tr></tfoot>
          </table>
        </div>
      </div>
      {%- if save is defined %}
      <div class="row clearfix">
        <div class="col-md-6 col-md-offset-3">
          <button class="btn btn-primary btn-block" id="save">{% trans %}Save{% endtrans %}</button>
        </div>
      </div>
      {%- endif %}
    {% else %}
    <br>
    <div class="row">
      <div class="well text-center col-lg-8 col-lg-offset-2">
        <form method="post">
          {{ week_form.hidden_tag() }}
          <div class="btn-group btn-group-justified">
          {% for field in week_form if field.name != "csrf_token" %}
            {% if tabs[2]['states'][loop.index-1] == 1%}
            {% set a = ' active' %}{%else%}{% set a=''%}
            {% endif %}
          {#{{ field.label(class="btn btn-info btn-day"+a) }}#}
            <div class="btn-group" role="group">
              {{ field(class="btn btn-info btn-day"+a,
                       style="min-height:70px") }}
            </div>
          {% endfor %}
          </div>
        </form>
      </div>
    </div>
    {% endif %}
    </div>
  </div>
{% endfor %}
</div>

{% endblock %}
