{% extends "base.html" %}
{% block content %}

{%- if title is defined -%}
<div class="row">
  <h3 align="center">{{ title }}</h3>
</div>
{%- endif -%}

{% for row in data %}
<div class="row">
  {% for btn in row %}
  <div class="col-xs-12 col-sm-6">
    <br>
    <button type="button" class="btn btn-block btn-{{ btn['type']|default('primary') }}" data-toggle="modal" data-target="#{{ btn['name'] }}">
      <h3 style="color:#FFFFFF">
      {%- if btn['type'] == 'danger' -%}
      <span class="glyphicon glyphicon-warning-sign"></span><br>
      <b>{{ btn['text'] }}</b><br>
      <span class="glyphicon glyphicon-warning-sign"></span>
      {%- else -%}
      <br>
      {{- btn['text'] -}}<br>
        {%- if btn['value'] is defined -%}
        <span id="{{ btn['name'] }}_value"> {{ btn['value'] }}</span> min<br>
        {%- else -%}
        <br>
        {%- endif -%}
      {%- endif -%}
      <br></h3>
    </button>
  </div>
  {%- endfor %}
</div>
{%- endfor %}

{% endblock %}