{% extends "base.html" %}
{% block content %}

<div class="hidden-xs hidden-sm">
  <br>
</div>

<div class="navbar-header">
  <button type="button" class="navbar-toggle btn btn-link btn-block"
          data-toggle="collapse" data-target="#heater-navbar-collapse">
    <span class="glyphicon glyphicon-calendar"></span>
    {% trans %}Menu{% endtrans %}
  </button>
</div>

<div class="collapse navbar-collapse" id="heater-navbar-collapse">
  <ul class="nav nav-pills nav-justified" role="tablist">
    {%- for tab in tabs -%}
    <li {%- if loop.index == init_tab %} class="active"{% endif %}>
      <a href="#{{ tab['id'] }}-tab" role="tab" data-toggle="tab">{{ tab['title'] }}</a>
    </li>
    {%- endfor -%}
  </ul>
</div>

<!--<form method="post">-->
<div class="tab-content">
{%- for tab in tabs %}
  {%- if loop.index == init_tab %}
  <div class="tab-pane fade in active" id="{{ tab['id'] }}-tab">
  {%- else %}
  <div class="tab-pane fade" id="{{ tab['id'] }}-tab">
  {%- endif %}
    <div class="container-fluid">
      {%- if tab['table'] is defined %}
      <div id="{{ tab['id'] }}-rows">
        <div class="row">
          <div class="col-xs text-center">
            <h4>{{ tab['table']['title']  }}</h4>
          </div>
        </div>
        <hr>
        <div class="row clearfix">
        {%- for col in tab['table']['col_names'] %}
          {% if loop.index == 3 %}<div class="col-xs-3 col-sm-3 text-center">
          {% else %}<div class="col-xs-3 col-sm-4 text-center">
          {% endif %}
              <h5><b>{{ col }}</b></h5>
            </div>
        {%- endfor %}
        </div> <!-- .row -->
        {% set hours = ['from','to'] %}
        {% for row in tab['table']['data'] %}
        <div class="row row-schedule clearfix" id="{{ tab['id'] }}-row-{{ loop.index }}">
          {% for i in hours %}
          <div class="col-xs-3 col-sm-4 text-center">
            <input type="text" class="form-control clockpicker text-center btn btn-link" value="{{ row[i][0] }}:{{ '{0:02d}'.format(row[i][1]) }}">
          </div>
          {% endfor %}
          <div class="col-xs-3 col-sm-3 text-center">
            <input type="text" class="form-control text-center btn btn-link changetemp" value="{{ '{0:0.1f}'.format(row['temp']) }}">
          </div>
          <div class="col-xs-3 col-sm-1 text-center">
            <button class="btn btn-danger" onclick="removeRow('#{{ tab['id'] }}-row-{{ loop.index }}')">
              <span class="glyphicon glyphicon-minus"></span>
            </button>
          </div>
        </div> <!-- .row-schedule -->
        {%- endfor %}
      </div> <!-- {{ tab['id'] }}-rows --> 
        <div class="row row-schedule clearfix">
          <div class="col-xs-6 col-sm-8 text-center">
            <h5>
            {%- for i in range(tab['table']['col_names']|length-1) %}
            {{ tab['table']['footer'][i]+" " }}
            {%- endfor %}
            </h5>
          </div> 
          <div class="col-xs-3 col-sm-3 text-center">
            <input type="text" class="form-control text-center btn btn-link changetemp" id="change_default" value="{{ '{0:0.1f}'.format(tab['table']['footer'][-1]) }}">
          </div>
          <div class="col-xs-3 col-sm-1 text-center">
            <button class="btn btn-success" onclick="addRow('#{{ tab['id'] }}-rows')">
              <span class="glyphicon glyphicon-plus"></span>
            </button>
          </div>
        </div> <!-- .row -->
        {%- if save %}
        <div class="row">
          <div class="col-sm-12">
            <button class="btn btn-primary btn-block" id="save" onclick="sendSchedule('csrf_token_akjsdbhvgdjsbhc')">{% trans %}Save{% endtrans %}</button>
          </div>
        </div>
        {%- endif %}
      {% else %}
      <div class="hidden-xs hidden-sm"><br></div>
      <div class="well text-center col-lg-8 col-lg-offset-2" style="padding:10px !important">
        {#<form method="post">
        {{ week_form.hidden_tag() }}
        {% for field in week_form if field.name != "csrf_token" %}
          {% if tabs[2]['states'][loop.index-1] == 1%}
          {% set a = ' checked' %}{%else%}{% set a=''%}
          {% endif %}
            {{ field(class="btn btn-info btn-day"+a) }}
        {% endfor %}
        </form>#}
        {% for state in tab['states'] %}
        <button data-toggle="button" aria-pressed={%if state == 1%}"true" class="btn btn-info btn-day active"{%else%}"false" class="btn btn-info btn-day"{%endif%} onclick="sendSchedule('asdfga')">{{tab['days'][loop.index-1]}}</button>
        {% endfor %}
      </div> <!-- .well -->
      {% endif %}
    </div> <!-- .container -->
  </div>
{% endfor %}
</div> <!-- .tab-content -->
{% if override %}
<div class="container-fluid">
  <div class="alert alert-danger text-center" role="alert" style="margin-top: 10px;">
    <strong>{%trans%}Schedule is currently overriden. Expected temperature:{%endtrans%} {{override}} &deg;C</strong>
  </div>
</div>
{% endif %}
<!--</form>-->

<script type="text/javascript">
$('.clockpicker').clockpicker({
  placement: "bottom",
  align: "top",
  autoclose: "true"
});
$('.changetemp').plusminus({
  placement: "bottom",
  align: "right",
  step: 0.25,
  precision: 2,
  min: 15,
  max: 28
});

</script>
{% endblock %}
