{% extends "base.html" %}
{% block content %}
{%- if title is defined -%}
<div class="row">
  <h3 class="text-center">{{ title }}</h3>
</div>
{%- endif -%}
<div class='container-fluid'>
  <div class="row clearfix">
    {% for origin in ['sensors','states'] %}
    <div class="col-xs-12 col-md-6 text-center">
      <table class="table">
      {% for i in range(data[origin]|length) %}
        <tr>
          <td class="text-center"><p>{{data[origin][i]['name']}}:</p></td>
          <td class="text-center" id="{{data[origin][i]['id']}}"><p>{{data[origin][i]['value']}} {{data[origin][i]['unit']}}</p></td>
        </tr>
       {% endfor %}
      </table>
    </div> <!-- .col -->
    {% endfor %}
  </div> <!-- .row -->
  <br>
  <div class="row">
    {% for i in range(data['meters']['devices']|length) %}
    <div class="col-xs-12 col-md-6">
      <table class="table">
        <span id="{{data['meters']['devices'][i]['id']}}">
        <tr><p class="text-center"><b>{{ data['meters']['devices'][i]['name'] }}</b></p></tr>
        {% for trow in data['meters']['order'] %}
        <tr>
          <td class="text-center"><p>{{ data['meters']['labels'][trow] }}</p></td>
          <td class="text-center"><p>{{ data['meters']['devices'][i][trow] }} {{ data['meters']['units'][loop.index-1] }}</p></td>
        </tr>
        {% endfor %}
        </span>
      </table>
    </div> <!-- .col -->
    {% endfor %}
  </div> <!-- .row -->
</div> <!-- .container-fluid -->
{% endblock %}