{% extends "base.html" %}
{% block content %}
{%- if title is defined -%}
<div class="row">
  <h3 class="text-center">{{ title }}</h3>
</div>
{%- endif -%}
<div class='container-fluid'>
  <div class="row clearfix">
    {% for origin in ['sensors','states'] %}
    <div class="col-sm-12 col-md-6 text-center">
      <table class="table">
      {% for i in range(data[origin]|length) %}
        <tr>
          <td class="text-center"><p>{{data[origin][i]['title']}}:</p></td>
          <td class="text-center"><p id="{{data[origin][i]['name']}}">{{data[origin][i]['value']}} {{data[origin][i]['unit']}}</p></td>
        </tr>
       {% endfor %}
      </table>
    </div> <!-- .col -->
    {% endfor %}
  </div> <!-- .row -->
  <br>
  <div class="row">
    {% for i in range(data['meters']['devices']|length) %}
    <div class="col-sm-12 col-md-6">
      <p class="text-center"><b>{{ data['meters']['devices'][i]['title'] }}</b></p>
      <table class="table">
        {#<span name="{{data['meters']['devices'][i]['name']}}">#}
        {% for trow in data['meters']['order'] %}
        <tr>
          <td class="text-center"><p>{{ data['meters']['labels'][trow] }}</p></td>
          <td class="text-center"><p>{{ data['meters']['devices'][i][trow] }} {{ data['meters']['units'][loop.index-1] }}</p></td>
        </tr>
        {% endfor %}
        {#</span>#}
      </table>
    </div> <!-- .col -->
    {% endfor %}
  </div> <!-- .row -->
</div> <!-- .container-fluid -->
{% endblock %}
