{% extends "base.html" %}
{% block content %}
{% from 'modal.html' import modal %}

{% for row in data %}
<div class="row">
  <div class="col-xs-12 col-sm-5">
    <h3 class="text-center" style="color:#428bca">{{ row['title'] }}</h3>
  </div>
  <div class="col-xs-12 col-sm-7">
    {% if row['range'] is defined %}
      {% for i in range(row['name']|length) %}
      <button type="button" class="btn btn-block btn-link" data-toggle="modal" data-target="#{{ row['name'][i] }}">
        {% if row['info'] is defined %}
          <i>{{ row['info'][i] }}:</i>
        {% endif %}
        <h2  style="display:inline"><b><span id="{{ row['name'][i] }}-value">{{ row['value'][i] }}</span>&deg;C</b></h2></span>
      </button>
      {% if row['info'] is defined %}
        {{ modal(row['name'][i],row['title']+' - '+row['info'][i],row['desc'][i],row['range']) }}
      {% else %}
        {{ modal(row['name'][i],row['title'],row['desc'][i],row['range']) }}
      {% endif %}

      {% endfor %}
    {% else %}
    <h2 class="text-center" style="color:#428bca"><b>{{ row['value'] }}</span>&deg;C</b></h2>
    {% endif %}
  </div>
</div>
<div class="hidden-xs">
  <hr>
</div>
{% endfor %}


<script type="text/javascript">
$(document).ready(function () {
  $('.nav-water').addClass('active');
});            
</script>
{% endblock %}