<ul class="nav nav-sidebar">
    <li class="nav-dashboard"><a href="/dashboard">
      <span class="glyphicon glyphicon-home"></span>
      <span class="hidden-xs"> Home</span></a>
    </li>
    <li class="nav-status"><a href="/status">
      <span class="glyphicon glyphicon-stats"></span>
      <span class="hidden-xs"> Status</span></a>
    </li>
    <li class="nav-water"><a href="/water">
      <span class="glyphicon glyphicon-tint"></span>
      <span class="hidden-xs"> Woda</span></a>
    </li>
    <li class="nav-heater"><a href="/heater">
      <span class="glyphicon glyphicon-fire"></span>
      <span class="hidden-xs"> Ogrzewanie</span></a>
    </li>
    <li class="nav-solar"><a href="/solar">
      <span class="glyphicon glyphicon-asterisk"></span>
      <span class="hidden-xs"> Solar</span></a>
    </li>
<!--    <li class="nav-scheme hidden-xs hidden-sm"><a href="/scheme">
      <span class="glyphicon glyphicon-eye-open"></span>
      <span> Schemat</span></a>
    </li>-->
    <li class="hidden-xs hidden-sm">
      <hr>
    </li>
    <li class="nav-options hidden-xs"><a href="/options">
      <span class="glyphicon glyphicon-cog"></span>
      <span> Opcje</span></a>
    </li>
</ul>