<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
</head>
<body>
  <form oninput="out.value=parseInt({{form.slider.id}}.value)" action="{{ action }}" method="post" name="{{form.slider.name}}">
  {%- if desc['header'] is defined %}
  <div class="modal-header">
    <h4 class="modal-title text-center">{{ desc['header'] }}</h4>
  </div> <!-- .modal-header -->
  {%- endif %}
  <div class="modal-body">
    <p class="text-center">{{ desc['info']|default('Title') }}</p>
    <div class="well">
      <div class="container-fluid">

          {{ form.hidden_tag() }}
          {{ form.slider(value=slider['value'],
                         min=slider['min'],
                         max=slider['max'],
                         step=slider['step']) }}
          <p><output class="text-center" name="out" for="{{form.slider.id}}">{{ slider['value']|default('00') }}</output></p>

        {{form.slider.name.value}}
      </div> <!-- .container-fluid -->
    </div> <!-- .well -->
  </div> <!-- .modal-body -->
  <div class="modal-footer">
     <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
     <button type="submit" class="btn btn-primary">{{ desc['submit']|default('Submit') }}</button>{#<p><input type="submit" value="{{ desc['submit']|default('Submit') }}"></p>#}
  </div> <!-- .modal-footer -->
  </form>
  </body>
</html>