<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
</head>
<body>

        <form oninput="out.value=parseInt({{form.slider.id}}.value)" action="" method="post" name="{{form.slider.name}}">
          {{ form.hidden_tag() }}
          {{ form.slider(value=slider['value'],
                         min=slider['min'],
                         max=slider['max'],
                         step=slider['step']) }}
          <p><output class="text-center" name="out" for="{{form.slider.id}}">00</output></p>
          <p><input type="submit" value="Sign In"></p>
        </form>

</body>
</html>